@{
    Layout = "~/Views/Shared/_Bootswatch.cshtml";
}


<div style="background-color:green" class="jumbotron" >
    <h1>Gift Registry</h1>
    <p class="lead">Don't revert to 'secret santa'. Use the SeveralPens Gift Registry!</p>
</div>