<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/4e19414b-e21e-454f-9101-972fe985f587/resourcegroups/GR2018/providers/Microsoft.ContainerRegistry/registries/GR2018UI20210831160231</ResourceId>
    <ResourceName>GR2018UI20210831160231</ResourceName>
    <ResourceGroup>GR2018</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://gr2018ui20210831160231.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>