@{
    ViewBag.Title = "About the Gift Organizer";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div>
    <p>Using the Gift Organizer, members can:</p>
    <ul>
        <li>Share gift ideas</li>
        <li>Organise and jointly contibute to gifts</li>
        <li>Create a wishlist for themselves or others</li>
    </ul>
    <p>All without revealing anything to the recipient!</p>
</div>
<br />
<br />
<div>
    <p>The Gift Organizer is designed as follows:</p>
    <ul>
        <li>
            A logged in user can create a Gift Organizer and specify its members
            and their email address.
        </li>
        <li>
            When members of the create Gift Organizer sign up with their email address
            they'll be able to access registries they're a member of. Or create their own.
        </li>
        <li>
            Members can suggest gift ideas for themselves or others on the list.
        </li>
        <li>
            The Gift list will only display gift ideas where the member has suggested it or
            the member is not a recipient.
        </li>
    </ul>
</div>




